
/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@600&display=swap');

body{
  background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.5)), url(./assets/image/olga-thelavart-vS3idIiYxX0-unsplash.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Montserrat Alternates', sans-serif;

}
